.box {
  display: block;
  width: 100%;
}

.same {
  border: 5px double rgba(206, 5, 5, 0.767);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.63);
  font-weight: 10px bold;
  margin: 4px;
  width: 47%;
}



.same:hover {
  background-color: rgba(255, 0, 0, 0.274)
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 9%; 
}

a {
  display: flex;
  font-size: 20px;
  text-align: center;
}

img {
  border-radius: 10px;
}

.imgRecipeCard {
  border: 2px solid  rgba(246, 58, 1, 0.883);
  box-shadow: 4px 5px 15px rgba(218, 19, 19, 0.678);
}
