.box {
  display: block;
  width: 100%;
}

.same {
   width: 30%;
  margin: 8px;
}

.pictures{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 9%; 
}

a {
  display:flex;
  text-align: center;
  font-size: 20px;
}

img {
  border-radius: 10px;
}
