.footer {
  background-color: #630606c0;
  bottom: 0;
  display: flex;
  border-top: transparent;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: +1;
}

.footer-icons {
  background: transparent;
  border:none;
}

