.header {
  background-color: #630606;
  color: white;
  display: block;
}

.radio-button {
  display:flex;
   flex-wrap: wrap;
  justify-content: space-around;
}


.profile {
  background:transparent;
  border:none;
}


.div {
  background-color: #630606;
  color: white;
  display: flex;
  font-style: italic;
  justify-content: space-between;
}

.button-searh {
  background-color: rgba(255, 81, 0, 0.849);
  border-radius: 6px;
  border: 1.3px solid rgb(255, 255, 255);
  color: white;
  margin: 10px;
  width: 90px;
}

.input-header {
  border-radius: 9px;
  border: 2.9px solid rgb(0, 0, 0)
}

.input-header::placeholder {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.ingredient-radio-button {
  margin: 8px;
}