.header {
  background-color: #630606;
  display: block;
  color: white;
}

.radio-button {
  display:flex;
   flex-wrap: wrap;
}
.profile{
  background:transparent;
  border:none;
}

.div{
  background-color: #630606;
  display: flex;
  color: white;
  justify-content: space-between;
}