* {
  margin: 0;
  padding: 0;
}

/* .login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form {
  display: inline-block;
  text-align: center;
  width: 60%;
}

.btnLogin {
  width: 100%;
} */

/* .titleLogin {
  
  Font family: Roboto;
  Font style: Regular;
  Font size: 39px;
  Line height: 46px;
  Line height: 100%;
  Align: Left;
  Vertical align: Bottom;
} */
