.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}


@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.titleLogin {
  font-family: Roboto;
  font-size: 39px;
  height: 46px;
  margin-top: 79px;
  margin-left: 128px;
}

.inputEmail {
  margin-top: 30px;
  margin-left: 31px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 20px;
  width: 293px;
  height: 58px;
}

.inputPassword {
  margin-top: 30px;
  margin-left: 31px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 20px;
  width: 293px;
  height: 58px;
}

.btnLogin {
  background: #6CE34F;
  margin-top: 60px;
  margin-left: 31px;
  font-size: 29px;
  border: none;
  width: 293px;
  height: 58px;
}

.divFoods {
  display: flex;
  flex-wrap:wrap;
  margin-left: 18px;
  margin-top: 7px;
}

.divMainFoods {
  max-height: 100vh;
}

.linkRecipeCard {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.imgRecipeCard {
  width: 141px;
  height: 89px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
